html,
body {
  --navbar-height: 3rem;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  transition: 300ms;
  background-color: #000;
}

.move-content-under-navbar {
  margin-bottom: var(--navbar-height);
}

.bold {
  font-weight: bold;
}
