* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    /* IDE help */
    --global-background-color: black;
    --global-box-background-color: black;
    --global-text-color: black;
    --primary-background-color: black;
    --primary-text-color: black;
    --secondary-background-color: black;
    --secondary-text-color: black;
    --navbar-background-color: black;
    --navbar-text-color: black;
    --navbar-menu-button-background-color: black;
    --navbar-menu-button-icon-color: black;
    --navbar-dropdown-border-color: black;
    --navbar-dropdown-background-color: black;
    --navbar-dropdown-text-color: black;
    --navbar-dropdown-settings-background-color: black;
    --navbar-dropdown-settings-text-color: black;
}

html,
body {
    --navbar-height: 3rem;

    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #000;
    transition: 300ms;
    scroll-behavior: smooth;
    scroll-padding-top: var(--navbar-height)
}

html,
body,
div#__next {
    height: 100%;
}

@media (max-width: 500px) {
    html, body {
        --navbar-height: 4rem;
    }
}

p {
    margin: 0;
}

.bold {
    font-weight: bold;
}

.flex-break {
    flex-basis: 100%;
    height: 0;
}