html,
body {
    --navbar-height: 3rem;

    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: 300ms;
    background-color: #000;
}

@media (max-width: 500px) {
    html, body {
        --navbar-height: 4rem;
    }
}

* {
    box-sizing: border-box;
}

.bold {
    font-weight: bold;
}

.flex-break {
    flex-basis: 100%;
    height: 0;
}